<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-9 body-content'>
      <router-outlet></router-outlet>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-polyline *ngFor="let r of routes">
          <agm-polyline-point *ngFor="let p of r.points"
                              [latitude]="p.latitude"
                              [longitude]="p.longitude">
          </agm-polyline-point>
        </agm-polyline>
      </agm-map>
    </div>
  </div>
</div>
